<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet">
    <!-- Include Angular and several angular libraries -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-resource/angular-resource.min.js"></script>
    <!-- Include app -->
    <script src="js/app.js"></script>
     <script src="js/filesModelDirective.js"></script>
    <script src="js/cats.rest.js"></script>
    <script src="js/auth.rest.js"></script>

    <title>Hello Kitty</title>
</head>
<body>



<div ng-app="catmodelFrontendApp" ng-controller="MainCtrl">
    <form class="form" ng-submit="uploadAuthor()">
        <input type="text" ng-model="newAuthor.first_name"  aria-invalid="false" placeholder="First Name" >
        <input type="text" ng-model="newAuthor.last_name"  aria-invalid="false" placeholder="Last Name" >
        <button type="submit">add me</button>
    </form>

    <form class="form" name="form1" ng-submit="uploadCats()">
        <input type="text" ng-model="newCats.name" placeholder="Cats Name">
        <input type="number" ng-model="newCats.age" placeholder="Cats Age">
        <textarea ng-model="newCats.description" placeholder="Your cat description"></textarea>
        <input type="file" files-model="newCats.image">
<select ng-model="newCats.author" placeholder="And you are...?" >
            <option ng-repeat="author in auth track by author.id" value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
 </select>
        <button type="submit">add cat</button>
    </form>


    <div ng-repeat="author in auth track by author.id">
        <h3>Cats of {{author.first_name}} {{author.last_name}}</h3>

        <ul ng-repeat="cat in cats|filter:{'author': author.id}:true">
            <button ng-click="deleteCat(cat)">!! Delete</button><br />
            <li><img ng-src="{{ cat.image }}" width="121"></li>
            <li><span>Name:</span> {{ cat.name }}</li>
            <li><span>Age:</span> {{ cat.age }}</li>
            <li><span>Description:</span> {{cat.description}}</li>
        </ul>
    </div>
</div>


</body>
</html>